In [2]:
# Setup - Run this cell first
import polars as pl

# Load data
airlines = pl.read_csv('https://raw.githubusercontent.com/philhetzel/opan5510-class11/refs/heads/main/data/nyc_airlines.csv')
airports = pl.read_csv('https://raw.githubusercontent.com/philhetzel/opan5510-class11/refs/heads/main/data/nyc_airports.csv' , null_values = 'NA')
flights = pl.read_csv('https://raw.githubusercontent.com/philhetzel/opan5510-class11/refs/heads/main/data/nyc_flights.csv' , null_values = 'NA')
planes = pl.read_csv('https://raw.githubusercontent.com/philhetzel/opan5510-class11/refs/heads/main/data/nyc_planes.csv' , null_values = 'NA')
weather = pl.read_csv('https://raw.githubusercontent.com/philhetzel/opan5510-class11/refs/heads/main/data/nyc_weather.csv' , null_values = 'NA' , infer_schema_length=1000)

flights = flights.with_columns(pl.col("time_hour").str.strptime(pl.Datetime))
weather = weather.with_columns(pl.col("time_hour").str.strptime(pl.Datetime))


ctx = pl.SQLContext(
    airlines=airlines,
    airports=airports,
    flights=flights,
    planes=planes,
    weather=weather,
    eager_execution=True
)

print("Setup complete! Tables available:")
print(ctx.execute("SHOW TABLES"))

Setup complete! Tables available:
shape: (5, 1)
┌──────────┐
│ name     │
│ ---      │
│ str      │
╞══════════╡
│ airlines │
│ airports │
│ flights  │
│ planes   │
│ weather  │
└──────────┘

/tmp/ipython-input-3365168055.py:15: DeprecationWarning: The argument `eager_execution` for `SQLContext.__init__` is deprecated. It has been renamed to `eager`.
  ctx = pl.SQLContext(

In [23]:
#Question 1.1
result = ctx.execute("""
SELECT DISTINCT carrier
FROM airlines;
""")
print(result)

shape: (16, 1)
┌─────────┐
│ carrier │
│ ---     │
│ str     │
╞═════════╡
│ 9E      │
│ AA      │
│ AS      │
│ B6      │
│ DL      │
│ …       │
│ UA      │
│ US      │
│ VX      │
│ WN      │
│ YV      │
└─────────┘

In [7]:
#Question 1.2
result = ctx.execute("""
SELECT dest, COUNT(*) AS num_flights
FROM flights
GROUP BY dest
ORDER BY num_flights DESC
LIMIT 10;
""")
print(result)

shape: (10, 2)
┌──────┬─────────────┐
│ dest ┆ num_flights │
│ ---  ┆ ---         │
│ str  ┆ u32         │
╞══════╪═════════════╡
│ ORD  ┆ 17283       │
│ ATL  ┆ 17215       │
│ LAX  ┆ 16174       │
│ BOS  ┆ 15508       │
│ MCO  ┆ 14082       │
│ CLT  ┆ 14064       │
│ SFO  ┆ 13331       │
│ FLL  ┆ 12055       │
│ MIA  ┆ 11728       │
│ DCA  ┆ 9705        │
└──────┴─────────────┘

In [8]:
#Question 1.3
result = ctx.execute("""
SELECT *
FROM flights
WHERE dep_delay > 120;
""")
print(result)

shape: (9_723, 19)
┌──────┬───────┬─────┬──────────┬───┬──────────┬──────┬────────┬─────────────────────────┐
│ year ┆ month ┆ day ┆ dep_time ┆ … ┆ distance ┆ hour ┆ minute ┆ time_hour               │
│ ---  ┆ ---   ┆ --- ┆ ---      ┆   ┆ ---      ┆ ---  ┆ ---    ┆ ---                     │
│ i64  ┆ i64   ┆ i64 ┆ i64      ┆   ┆ i64      ┆ i64  ┆ i64    ┆ datetime[μs, UTC]       │
╞══════╪═══════╪═════╪══════════╪═══╪══════════╪══════╪════════╪═════════════════════════╡
│ 2013 ┆ 1     ┆ 1   ┆ 848      ┆ … ┆ 184      ┆ 18   ┆ 35     ┆ 2013-01-01 23:00:00 UTC │
│ 2013 ┆ 1     ┆ 1   ┆ 957      ┆ … ┆ 200      ┆ 7    ┆ 33     ┆ 2013-01-01 12:00:00 UTC │
│ 2013 ┆ 1     ┆ 1   ┆ 1114     ┆ … ┆ 1416     ┆ 9    ┆ 0      ┆ 2013-01-01 14:00:00 UTC │
│ 2013 ┆ 1     ┆ 1   ┆ 1540     ┆ … ┆ 1598     ┆ 13   ┆ 38     ┆ 2013-01-01 18:00:00 UTC │
│ 2013 ┆ 1     ┆ 1   ┆ 1815     ┆ … ┆ 1134     ┆ 13   ┆ 25     ┆ 2013-01-01 18:00:00 UTC │
│ …    ┆ …     ┆ …   ┆ …        ┆ … ┆ …        ┆ …    ┆ …      ┆ …                       │
│ 2013 ┆ 9     ┆ 30  ┆ 1823     ┆ … ┆ 765      ┆ 15   ┆ 45     ┆ 2013-09-30 19:00:00 UTC │
│ 2013 ┆ 9     ┆ 30  ┆ 1951     ┆ … ┆ 708      ┆ 16   ┆ 49     ┆ 2013-09-30 20:00:00 UTC │
│ 2013 ┆ 9     ┆ 30  ┆ 2053     ┆ … ┆ 746      ┆ 18   ┆ 15     ┆ 2013-09-30 22:00:00 UTC │
│ 2013 ┆ 9     ┆ 30  ┆ 2159     ┆ … ┆ 301      ┆ 18   ┆ 45     ┆ 2013-09-30 22:00:00 UTC │
│ 2013 ┆ 9     ┆ 30  ┆ 2235     ┆ … ┆ 944      ┆ 20   ┆ 1      ┆ 2013-10-01 00:00:00 UTC │
└──────┴───────┴─────┴──────────┴───┴──────────┴──────┴────────┴─────────────────────────┘

In [9]:
#Question 2.1
result = ctx.execute("""
SELECT origin, AVG(dep_delay) AS avg_dep_delay
FROM flights
GROUP BY origin;
""")
print(result)

shape: (3, 2)
┌────────┬───────────────┐
│ origin ┆ avg_dep_delay │
│ ---    ┆ ---           │
│ str    ┆ f64           │
╞════════╪═══════════════╡
│ JFK    ┆ 12.112159     │
│ EWR    ┆ 15.107954     │
│ LGA    ┆ 10.346876     │
└────────┴───────────────┘

In [10]:
#Question 2.2
result = ctx.execute("""
SELECT month, COUNT(*) AS num_flights
FROM flights
GROUP BY month
ORDER BY num_flights DESC
LIMIT 1;
""")
print(result)

shape: (1, 2)
┌───────┬─────────────┐
│ month ┆ num_flights │
│ ---   ┆ ---         │
│ i64   ┆ u32         │
╞═══════╪═════════════╡
│ 7     ┆ 29425       │
└───────┴─────────────┘

In [13]:
#Question 2.3
result = ctx.execute("""
SELECT carrier,
       ROUND(
           SUM(CASE WHEN dep_delay <= 15 THEN 1 ELSE 0 END) * 1.0 / COUNT(*),
           3
       ) AS on_time_rate
FROM flights
GROUP BY carrier;
""")
print(result)

shape: (16, 2)
┌─────────┬──────────────┐
│ carrier ┆ on_time_rate │
│ ---     ┆ ---          │
│ str     ┆ f64          │
╞═════════╪══════════════╡
│ UA      ┆ 0.78         │
│ FL      ┆ 0.717        │
│ DL      ┆ 0.831        │
│ OO      ┆ 0.719        │
│ US      ┆ 0.85         │
│ …       ┆ …            │
│ VX      ┆ 0.821        │
│ HA      ┆ 0.93         │
│ WN      ┆ 0.72         │
│ EV      ┆ 0.659        │
│ YV      ┆ 0.647        │
└─────────┴──────────────┘

In [12]:
#Question 3.1
result = ctx.execute("""
SELECT f.carrier,
       a.name AS airline_name,
       f.flight,
       f.origin,
       f.dest
FROM flights AS f
JOIN airlines AS a
  ON f.carrier = a.carrier
LIMIT 20;
""")
print(result)

shape: (20, 5)
┌─────────┬────────────────────────┬────────┬────────┬──────┐
│ carrier ┆ airline_name           ┆ flight ┆ origin ┆ dest │
│ ---     ┆ ---                    ┆ ---    ┆ ---    ┆ ---  │
│ str     ┆ str                    ┆ i64    ┆ str    ┆ str  │
╞═════════╪════════════════════════╪════════╪════════╪══════╡
│ UA      ┆ United Air Lines Inc.  ┆ 1545   ┆ EWR    ┆ IAH  │
│ UA      ┆ United Air Lines Inc.  ┆ 1714   ┆ LGA    ┆ IAH  │
│ AA      ┆ American Airlines Inc. ┆ 1141   ┆ JFK    ┆ MIA  │
│ B6      ┆ JetBlue Airways        ┆ 725    ┆ JFK    ┆ BQN  │
│ DL      ┆ Delta Air Lines Inc.   ┆ 461    ┆ LGA    ┆ ATL  │
│ …       ┆ …                      ┆ …      ┆ …      ┆ …    │
│ B6      ┆ JetBlue Airways        ┆ 1806   ┆ JFK    ┆ BOS  │
│ UA      ┆ United Air Lines Inc.  ┆ 1187   ┆ EWR    ┆ LAS  │
│ B6      ┆ JetBlue Airways        ┆ 371    ┆ LGA    ┆ FLL  │
│ MQ      ┆ Envoy Air              ┆ 4650   ┆ LGA    ┆ ATL  │
│ B6      ┆ JetBlue Airways        ┆ 343    ┆ EWR    ┆ PBI  │
└─────────┴────────────────────────┴────────┴────────┴──────┘

In [14]:
#Question 3.2
result = ctx.execute("""
SELECT f.carrier,
       AVG(2013 - p.year) AS avg_plane_age
FROM flights AS f
JOIN planes AS p
  ON f.tailnum = p.tailnum
WHERE p.year IS NOT NULL
GROUP BY f.carrier;
""")

print(result)

shape: (16, 2)
┌─────────┬───────────────┐
│ carrier ┆ avg_plane_age │
│ ---     ┆ ---           │
│ str     ┆ f64           │
╞═════════╪═══════════════╡
│ VX      ┆ 4.473643      │
│ AA      ┆ 25.869426     │
│ F9      ┆ 4.87874       │
│ AS      ┆ 3.33662       │
│ YV      ┆ 9.313758      │
│ …       ┆ …             │
│ MQ      ┆ 35.319        │
│ B6      ┆ 6.686702      │
│ HA      ┆ 1.548387      │
│ UA      ┆ 13.207691     │
│ OO      ┆ 6.84375       │
└─────────┴───────────────┘

In [15]:
#Question 3.3
result = ctx.execute("""
SELECT f.*
FROM flights AS f
JOIN weather AS w
  ON f.origin = w.origin
  AND f.year = w.year
  AND f.month = w.month
  AND f.day = w.day
  AND f.hour = w.hour
WHERE f.dep_delay > 30
  AND (w.wind_speed > 20 OR w.precip > 0.1);
""")
print(result)

shape: (4_938, 19)
┌──────┬───────┬─────┬──────────┬───┬──────────┬──────┬────────┬─────────────────────────┐
│ year ┆ month ┆ day ┆ dep_time ┆ … ┆ distance ┆ hour ┆ minute ┆ time_hour               │
│ ---  ┆ ---   ┆ --- ┆ ---      ┆   ┆ ---      ┆ ---  ┆ ---    ┆ ---                     │
│ i64  ┆ i64   ┆ i64 ┆ i64      ┆   ┆ i64      ┆ i64  ┆ i64    ┆ datetime[μs, UTC]       │
╞══════╪═══════╪═════╪══════════╪═══╪══════════╪══════╪════════╪═════════════════════════╡
│ 2013 ┆ 1     ┆ 1   ┆ 2217     ┆ … ┆ 1005     ┆ 21   ┆ 30     ┆ 2013-01-02 02:00:00 UTC │
│ 2013 ┆ 1     ┆ 1   ┆ 2326     ┆ … ┆ 2248     ┆ 21   ┆ 30     ┆ 2013-01-02 02:00:00 UTC │
│ 2013 ┆ 1     ┆ 4   ┆ 1238     ┆ … ┆ 820      ┆ 11   ┆ 59     ┆ 2013-01-04 16:00:00 UTC │
│ 2013 ┆ 1     ┆ 4   ┆ 1400     ┆ … ┆ 212      ┆ 13   ┆ 20     ┆ 2013-01-04 18:00:00 UTC │
│ 2013 ┆ 1     ┆ 4   ┆ 1455     ┆ … ┆ 187      ┆ 14   ┆ 22     ┆ 2013-01-04 19:00:00 UTC │
│ …    ┆ …     ┆ …   ┆ …        ┆ … ┆ …        ┆ …    ┆ …      ┆ …                       │
│ 2013 ┆ 9     ┆ 22  ┆ 1540     ┆ … ┆ 762      ┆ 14   ┆ 59     ┆ 2013-09-22 18:00:00 UTC │
│ 2013 ┆ 9     ┆ 22  ┆ 1957     ┆ … ┆ 335      ┆ 18   ┆ 20     ┆ 2013-09-22 22:00:00 UTC │
│ 2013 ┆ 9     ┆ 22  ┆ 2104     ┆ … ┆ 2153     ┆ 20   ┆ 22     ┆ 2013-09-23 00:00:00 UTC │
│ 2013 ┆ 9     ┆ 22  ┆ 2111     ┆ … ┆ 2475     ┆ 20   ┆ 25     ┆ 2013-09-23 00:00:00 UTC │
│ 2013 ┆ 9     ┆ 22  ┆ 2130     ┆ … ┆ 187      ┆ 20   ┆ 45     ┆ 2013-09-23 00:00:00 UTC │
└──────┴───────┴─────┴──────────┴───┴──────────┴──────┴────────┴─────────────────────────┘

In [16]:
#Question 4.1
result = ctx.execute("""
SELECT p.manufacturer,
       p.model,
       COUNT(*) AS num_flights
FROM flights AS f
JOIN planes AS p
  ON f.tailnum = p.tailnum
GROUP BY p.manufacturer, p.model
ORDER BY num_flights DESC
LIMIT 10;
""")

print(result)

shape: (10, 3)
┌───────────────────────────────┬─────────────────┬─────────────┐
│ manufacturer                  ┆ model           ┆ num_flights │
│ ---                           ┆ ---             ┆ ---         │
│ str                           ┆ str             ┆ u32         │
╞═══════════════════════════════╪═════════════════╪═════════════╡
│ AIRBUS                        ┆ A320-232        ┆ 31278       │
│ EMBRAER                       ┆ EMB-145LR       ┆ 28027       │
│ EMBRAER                       ┆ ERJ 190-100 IGW ┆ 23716       │
│ AIRBUS INDUSTRIE              ┆ A320-232        ┆ 14553       │
│ EMBRAER                       ┆ EMB-145XR       ┆ 14051       │
│ BOEING                        ┆ 737-824         ┆ 13809       │
│ BOMBARDIER INC                ┆ CL-600-2D24     ┆ 11807       │
│ BOEING                        ┆ 737-7H4         ┆ 10389       │
│ BOEING                        ┆ 757-222         ┆ 9150        │
│ MCDONNELL DOUGLAS AIRCRAFT CO ┆ MD-88           ┆ 8932        │
└───────────────────────────────┴─────────────────┴─────────────┘

In [20]:
#Question 4.2
result = ctx.execute("""
SELECT
    origin,
    dest,
    COUNT(*)                                   AS total_flights,
    AVG(dep_delay)                             AS avg_dep_delay,
    SUM(CASE WHEN dep_delay > 30 THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS pct_delayed_over_30
FROM flights
GROUP BY origin, dest
ORDER BY total_flights DESC
LIMIT 10;
""")

print(result)

shape: (10, 5)
┌────────┬──────┬───────────────┬───────────────┬─────────────────────┐
│ origin ┆ dest ┆ total_flights ┆ avg_dep_delay ┆ pct_delayed_over_30 │
│ ---    ┆ ---  ┆ ---           ┆ ---           ┆ ---                 │
│ str    ┆ str  ┆ u32           ┆ f64           ┆ f64                 │
╞════════╪══════╪═══════════════╪═══════════════╪═════════════════════╡
│ JFK    ┆ LAX  ┆ 11262         ┆ 8.522508      ┆ 9.829515            │
│ LGA    ┆ ATL  ┆ 10263         ┆ 11.448621     ┆ 12.247881           │
│ LGA    ┆ ORD  ┆ 8857          ┆ 10.740758     ┆ 13.345377           │
│ JFK    ┆ SFO  ┆ 8204          ┆ 11.952691     ┆ 12.116041           │
│ LGA    ┆ CLT  ┆ 6168          ┆ 8.965321      ┆ 11.948768           │
│ EWR    ┆ ORD  ┆ 6100          ┆ 14.644163     ┆ 16.0                │
│ JFK    ┆ BOS  ┆ 5898          ┆ 11.694953     ┆ 13.767379           │
│ LGA    ┆ MIA  ┆ 5781          ┆ 7.361747      ┆ 9.462031            │
│ JFK    ┆ MCO  ┆ 5464          ┆ 10.601583     ┆ 12.719619           │
│ EWR    ┆ BOS  ┆ 5327          ┆ 12.54561      ┆ 14.9052             │
└────────┴──────┴───────────────┴───────────────┴─────────────────────┘

In [22]:
#Question 4.3

ctx.register("route_stats", result)

result = ctx.execute("""
SELECT
    rs.origin,
    ao.name AS origin_airport,
    rs.dest,
    ad.name AS dest_airport,
    rs.total_flights,
    ROUND(rs.avg_dep_delay, 2)        AS avg_dep_delay,
    ROUND(rs.pct_delayed_over_30, 2)  AS pct_delayed_over_30
FROM route_stats AS rs
JOIN airports AS ao ON rs.origin = ao.faa
JOIN airports AS ad ON rs.dest = ad.faa
ORDER BY rs.total_flights DESC
LIMIT 10;
""")

print(result)

shape: (10, 7)
┌────────┬────────────────┬──────┬────────────────┬───────────────┬───────────────┬────────────────┐
│ origin ┆ origin_airport ┆ dest ┆ dest_airport   ┆ total_flights ┆ avg_dep_delay ┆ pct_delayed_ov │
│ ---    ┆ ---            ┆ ---  ┆ ---            ┆ ---           ┆ ---           ┆ er_30          │
│ str    ┆ str            ┆ str  ┆ str            ┆ u32           ┆ f64           ┆ ---            │
│        ┆                ┆      ┆                ┆               ┆               ┆ f64            │
╞════════╪════════════════╪══════╪════════════════╪═══════════════╪═══════════════╪════════════════╡
│ JFK    ┆ John F Kennedy ┆ LAX  ┆ Los Angeles    ┆ 11262         ┆ 8.52          ┆ 9.83           │
│        ┆ Intl           ┆      ┆ Intl           ┆               ┆               ┆                │
│ LGA    ┆ La Guardia     ┆ ATL  ┆ Hartsfield     ┆ 10263         ┆ 11.45         ┆ 12.25          │
│        ┆                ┆      ┆ Jackson        ┆               ┆               ┆                │
│        ┆                ┆      ┆ Atlanta Int…   ┆               ┆               ┆                │
│ LGA    ┆ La Guardia     ┆ ORD  ┆ Chicago Ohare  ┆ 8857          ┆ 10.74         ┆ 13.35          │
│        ┆                ┆      ┆ Intl           ┆               ┆               ┆                │
│ JFK    ┆ John F Kennedy ┆ SFO  ┆ San Francisco  ┆ 8204          ┆ 11.95         ┆ 12.12          │
│        ┆ Intl           ┆      ┆ Intl           ┆               ┆               ┆                │
│ LGA    ┆ La Guardia     ┆ CLT  ┆ Charlotte      ┆ 6168          ┆ 8.97          ┆ 11.95          │
│        ┆                ┆      ┆ Douglas Intl   ┆               ┆               ┆                │
│ EWR    ┆ Newark Liberty ┆ ORD  ┆ Chicago Ohare  ┆ 6100          ┆ 14.64         ┆ 16.0           │
│        ┆ Intl           ┆      ┆ Intl           ┆               ┆               ┆                │
│ JFK    ┆ John F Kennedy ┆ BOS  ┆ General Edward ┆ 5898          ┆ 11.69         ┆ 13.77          │
│        ┆ Intl           ┆      ┆ Lawrence Logan ┆               ┆               ┆                │
│        ┆                ┆      ┆ …              ┆               ┆               ┆                │
│ LGA    ┆ La Guardia     ┆ MIA  ┆ Miami Intl     ┆ 5781          ┆ 7.36          ┆ 9.46           │
│ JFK    ┆ John F Kennedy ┆ MCO  ┆ Orlando Intl   ┆ 5464          ┆ 10.6          ┆ 12.72          │
│        ┆ Intl           ┆      ┆                ┆               ┆               ┆                │
│ EWR    ┆ Newark Liberty ┆ BOS  ┆ General Edward ┆ 5327          ┆ 12.55         ┆ 14.91          │
│        ┆ Intl           ┆      ┆ Lawrence Logan ┆               ┆               ┆                │
│        ┆                ┆      ┆ …              ┆               ┆               ┆                │
└────────┴────────────────┴──────┴────────────────┴───────────────┴───────────────┴────────────────┘